@model WebInterface.Models.SaleFilterViewModel
@{
    ViewBag.FiltersTitle = "Filters";
}




<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                @ViewBag.FiltersTitle
            </a>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h4>ID</h4>
                    </div>
                    <div class="col-md-1">
                        <p>From:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.FromId, new { type = "number", @class="column_filter"})
                    </div>
                    <div class="col-md-1">
                        <p>To:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ToId, new { type = "number", @class = "column_filter" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Date</h4>
                    </div>
                    <div class="col-md-1">
                        <p>From:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.FromDate, new { type = "date", @class = "column_filter" })
                    </div>
                    <div class="col-md-1">
                        <p>To:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ToDate, new { type = "date", @class = "column_filter" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Goods</h4>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.GoodsNamePart, new { type = "text", @class = "column_filter" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Manager</h4>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.ManagerSecondNamePart, new { type = "text", @class = "column_filter" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Client</h4>
                    </div>
                    <div class="col-md-2">
                        @Html.TextBoxFor(m => m.ClientFullNamePart, new { type = "text", @class = "column_filter" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <h4>Selling price (BYR)</h4>
                    </div>
                    <div class="col-md-1">
                        <p>From:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.FromPrice, new { type = "number", @class = "column_filter" })
                    </div>
                    <div class="col-md-1">
                        <p>To:</p>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(m => m.ToPrice, new { type = "number", @class = "column_filter" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>