<ul class="nav navbar-nav">
    @if (Request.IsAuthenticated)
    {
        <li>@Html.ActionLink("Sales", "Index", "Sales")</li>
        if (User.IsInRole("admin"))
        {
            <li>@Html.ActionLink("Users", "Users", "Home")</li>
        }

        <li>@Html.ActionLink("Statistic", "Statistic", "Home")</li>
    }
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>

